html {
	background-color: $viewport-background-color;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
}


// Page Sections

.container {
	@include grid-container;
	margin: auto;
	max-width: 1200px;
	padding: 0 1rem;

	&__lead {
		max-width: 800px;
	}

	&__fluid {
		@include grid-container;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
	}
}



.page-section,
.small-section {
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	box-sizing: border-box;
	display: block;
	overflow: hidden;
	padding: 140px 0;
	position: relative;
	width: 100%;

	@media only screen and (max-width: 480px) {
		padding: 60px 0;
	}

	@media only screen and (max-width: 768px) {
		padding: 80px 0;
	}
}

.small-section {
	padding: 70px 0;

	@media only screen and (max-width: 480px) {
		padding: 30px 0;
	}

	@media only screen and (max-width: 768px) {
		padding: 50px 0;
	}

}

@media only screen and (max-width: 1024px) {
	.page-section,
	.home-section,
	.small-section {
		background-attachment: scroll;
	}
}

.mobile .page-section,
.mobile .home-section,
.mobile .small-section {
	background-attachment: scroll;
}

.home-section {
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	display: block;
	overflow: hidden;
	position: relative;
	width: 100%;
}


.fixed-height-small {
	box-sizing: border-box;
	min-height: 600px;

	@media only screen and (max-width: 480px) {
		min-height: 300px;
	}
}