html {
	color: $base-font-color;
	font-family: $base-font-family;
	font-size: 100%;
	line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $heading-font-family;
	font-size: modular-scale(1);
	line-height: $heading-line-height;
	margin: 0 0 $small-spacing;
}

// h1,
// .h1 {
// 	font-size: 2rem;
// }

// h2,
// .h2 {
// 	font-size: 2.25rem;
// }

// h3,
// .h3 {
// 	font-size: 1.75rem;
// }

// h4,
// .h4 {
// 	font-size: 1.12rem;
// }

// h5,
// .h5 {
// 	font-size: .83rem;
// }

// h6,
// .h6 {
// 	font-size: .75rem;
// }

p {
	margin: 0 0 $small-spacing;
}

a {
	color: $action-color;
	text-decoration: none;
	text-decoration-skip: ink;
	transition: color $base-duration $base-timing;

	&:hover {
		color: shade($action-color, 25%);
	}

	&:focus {
		outline: $focus-outline;
		outline-offset: $focus-outline-offset;
	}
}

hr {
	border-bottom: $base-border;
	border-left: 0;
	border-right: 0;
	border-top: 0;
	display: block;
	margin: $base-spacing 0;
	width: 70%;
}



// Page Components

.lead {
	font-size: 1.25rem;
	font-weight: 300;
}

// ===

.aside-section {
	margin-bottom: $base-spacing;
	text-align: center;

	svg {
		height: 100px;
	}

	&__title--headline {
		font-size: 3.75rem;
		font-weight: 900;
		overflow: hidden;

		@media (min-width: 992px) {
			line-height: $no-line-height;

			span {
				display: block;
			}
		}
	}

	@media (min-width: 992px) {
		margin-bottom: 0;

		&__title {
			@include grid-column(5);
		}

		&__left {
			text-align: left;

			&--content {
				@include grid-column(7);
			}
		}

		&__right {
			text-align: right;

			&--content {
				@include grid-column(7);
			}
		}
	}
}





.section-title {
	display: block;
	font-size: 3.75rem;
	font-weight: 900;
	line-height: $heading-line-height;
	margin-bottom: 0;
	overflow: hidden;

	@media (min-width: 992px) {
		line-height: 1;
	}

	&__aside {
		display: block;
		font-size: 3.75rem;
		font-weight: 900;
		line-height: $heading-line-height;
		overflow: hidden;
		text-transform: uppercase;

		@media (min-width: 992px) {
			line-height: 1;

			span {
				display: block;
			}
		}

		small {
			font-size: 30px;
			font-weight: inherit;

			&.small-s {
				font-size: 60%;
			}
		}
	}

	&__bars {
		color: $white;
		display: inline-block;
		font-weight: 900;
		margin: auto auto $base-spacing;
		padding-left: $base-spacing;
		padding-right: $base-spacing;
		position: relative;
		text-align: center;
		text-transform: uppercase;

		@media (min-width: 576px) {
			font-size: 2rem;

			&::before,
			&::after {
				background-color: $white;
				content: '';
				display: block;
				height: .25rem;
				margin-top: -.25rem / 2;
				position: absolute;
				top: 50%;
				width: 6rem;
			}

			&::before {
				left: 100%;
			}

			&::after {
				right: 100%;
			}
		}

		@media (min-width: 768px) {
			font-size: 2.5rem;
		}

		@media (min-width: 992px) {
			font-size: 3.25rem;
			margin-bottom: $base-spacing * 2;
		}

		@media (min-width: 1200px) {
			font-size: 3.75rem;
		}
	}


}


// Arrow Headers

.arrow-header {
	background-color: $black;
	color: $white;
	margin-bottom: $base-spacing;
	padding: $base-spacing;
	position: relative;

	&::before {
		@include position(absolute, 100% null null 50%);
		@include triangle("down", ($base-spacing * 2), $base-spacing, $black);
		content: '';
		margin-left: -$small-spacing;
	}

	&__orange {
		background-color: $color-orange;

		&::before {
			border-top-color: $color-orange;
		}
	}

	&__teal {
		background-color: $color-teal;

		&::before {
			border-top-color: $color-teal;
		}
	}
}